@page "{id}"
@model SampleApp.Pages.ProfileModel
@{
    @using SampleApp.Models
    ViewData["Title"] = "UserProfile";
    var sessionId = HttpContext.Session.GetString("SampleSession");
    SampleAppContext _db = new SampleAppContext();
    User current_user = _db.Users.Where(u => u.Id == Convert.ToInt32(sessionId)).FirstOrDefault();
    //int profile_userId = Model.ProfileUser.Id;
}




<div class="col-md-4">
    <h1>
        <center>@Model.ProfileUser.Name</center>
    </h1>
 
    @{
        if(sessionId != null)
        {
            if (Model.ProfileUser.Id == current_user.Id)
            {
             //       <p>тута свои сообщения,подписки и подписчики,кнопка подписаться(если на своём профиле - то без кнопки подписаться)</p>
                <div class="col-md-50">
                    <h3>
                        Cообщения: @Model.ProfileUser.Microposts.Count()
                    </h3>
                    <ol class="microposts">
                        @foreach (var post in Model.ProfileUser.Microposts)
                        {
                            <p>
                                <b>@post.CreatedAt </b>
                            </p>
                            <p>
                                <b>@post.User.Name: </b> @post.Content
                            </p>
                        }
                    </ol>
                </div>
            }
            else
            {
                    
            }
        }
        else
        {
                <div class="col-md-8">
                    <h3>
                        Cообщения @Model.ProfileUser.Microposts.Count()
                    </h3>
                    <ol class="microposts">
                        @foreach (var post in Model.ProfileUser.Microposts)
                    {
                            <p>
                                <b>@post.User.Name: </b> @post.Content
                            </p>
                    }
                    </ol>
                </div>
        }
    } 
    
</div>
